/* add CSS class and element and selectors here */

body {
  font-size: 300%;
     background-color: white;
     font-family: courier;
     border: 1px dotted red;
     text-transform: uppercase;
     letter-spacing: 5px;
     transition: rotate(-30)deg;
     text-shadow: length
     